# Ignore node_modules and npm/yarn logs
node_modules
npm-debug.log
yarn-error.log

# Ignore built application files
dist
.build

# Ignore temporary files
*.tmp
*.temp

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore Docker related files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Ignore logs and report files
logs
*.log
*.tsbuildinfo

# Ignore IntelliJ/WebStorm project files
.idea

# Ignore VSCode settings
.vscode

# Ignore MacOS system files
.DS_Store

# Ignore test coverage reports
coverage
